/**
 * Arnold - advanced media center based on VLC and NW.js
 *
 * style.css - main CSS
 *
 * @author Alexandre Bintz <alexandre@bintz.io>
 * 10/2015
 */

::-webkit-scrollbar {
  display: none;  /*  hide scroll bars  */
}

/*  <html> holds the general background */
html {
  font-family: 'Helvetica Neue';
  background: rgb(38,38,38);
}

body {
  -webkit-app-region: drag; /*  make whole window draggable
                          (by default frameless windows cannot be dragged)  */
  padding: 0;
  margin: 0;
  /*  body covers the whole screen
      and is at the bottom of the display stack */
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

/*  input[file] is there only to provide a file dialog
    it is not visible  */
#dInputFile {
  display: none;
}

/*  player covers the whole screen and is at the bottom of the view stack
    canvas is centered in both direction inside player  */
#dPlayer {
  position: absolute;
  z-index: 100;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: -webkit-flex;
  -webkit-justify-content: center;
  -webkit-align-items: center;
  background: black;
}
/*  subtitles appear on top of the video,
    on the bottom */
#dPlayer .playerSubtitlesBox {
  position: absolute;
  left: 50px;
  right: 50px;
  bottom: 50px;
  color: white;
  font-size: 2em;
  text-shadow: 0 0 5px black;
  font-family: "Arial";
  text-align: center;
}

/*  subtitles hints appear on top of the video,
    on the bottom */
.dSubtitlesHint {
  position: absolute;
  z-index: 110;
  left: 50px;
  right: 50px;
  bottom: 50px;
  color: white;
  font-size: 1.5em;
  text-shadow: 0 0 5px black;
  font-family: "Arial";
  text-align: center;
  font-style: italic;
}

/*  player paused hint appears on top of the video
    in the top right corner */
#dPlayerHintPaused {
  position: absolute;
  z-index: 200;
  top: 50px;
  right: 50px;
  color: white;
  font-size: 2em;
  text-shadow: 0 0 2px black;
  text-align: right;
  display: none;
}
.paused #dPlayerHintPaused {
  display: block;
}

/*  player time hint appears on top of the video
    in the top right corner, below the paused hint */
#dPlayerHintTime {
  position: absolute;
  z-index: 200;
  top: 250px;
  right: 50px;
  color: white;
  font-size: 2em;
  text-shadow: 0 0 2px black;
  text-align: right;
  display: none;
}

/*  error box appear on top of everything,
    on the bottom */
#dError {
  position: absolute;
  z-index: 1000;
  left: -5px;
  right: -5px;
  bottom: 50px;
  padding: 15px;
  color: white;
  background: rgba(180, 0, 0, 1);
  border-radius: 5px;
  box-shadow: 0 0 75px black;
  font-size: 1em;
  font-family: "Arial";
  text-align: center;
  cursor: pointer;
}
#dError p {
  margin: 0;
  padding: 0;
}
#dErrorHint {
  font-size: 0.8em;
}

/*  home screen covers the entire screen
    and appears on top of the player  */
#dHome {
  position: absolute;
  z-index: 200;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  font-size: 1.3em;
  display: -webkit-flex;
  -webkit-flex-direction: column;
  color: darkgrey;
}
#dHomeDropZone {
  -webkit-flex-grow: 1;
  margin: 4%;
  display: -webkit-flex;
  -webkit-flex-direction: column;
  -webkit-justify-content: center;
  -webkit-align-items: center;
  border: 5px dashed darkgrey;
  border-radius: 5px;
  font-weight: bold;
}
.dragover #dHomeDropZone {
  color: white;
  border-color: white;
}
#dHomeDropHint {
}
#dHomeDropHintAuxiliary1,
#dHomeDropHintAuxiliary3 {
  font-size: 0.7em;
}
#dHomeDropHintMain {
  font-size: 1.3em;
  margin-bottom: 0;
  padding-bottom: 0;
}
#dHomeDropHintAuxiliary2 {
  font-size: 0.9em;
  padding: 0;
  margin: 0;
  margin-bottom: 30px;
}

/*  audio & subtitles interfaces appear on the center of the screen
    and on top of the player  */
#dAudioWidget,
#dSubtitlesWidget {
  position: absolute;
  z-index: 500;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: -webkit-flex;
  -webkit-flex-direction: column;
  -webkit-justify-content: center;
  -webkit-align-items: center;
}
#dAudioWidget table,
#dSubtitlesWidget table {
  border-collapse: collapse;
  border-radius: 5px;
  background: rgb(80, 80, 80);
  box-shadow: 0 0 75px black;
  font-weight: bold;
  font-size: 1em;
  text-align: center;
  color: lightgrey;
  min-width: 200px;
}
#dAudioWidget th,
#dAudioWidget td,
#dSubtitlesWidget th,
#dSubtitlesWidget td {
  padding: 5px 25px;
}
#dAudioWidget td,
#dSubtitlesWidget td {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  border-top: 1px solid rgba(255, 255, 255, 0.2);
}
#dAudioWidget thead th,
#dSubtitlesWidget thead th {
  font-weight: normal;
  padding: 20px;
}
#dAudioWidget td,
#dSubtitlesWidget td {
  cursor: pointer;
}
#dAudioWidget tr.selected,
#dSubtitlesWidget tr.selected {
  background: lightgrey;
  color: rgba(0, 0, 0, 0.5);
}
#dAudioWidget tr.highlighted:not(.selected),
#dSubtitlesWidget tr.highlighted:not(.selected) {
  background: rgba(0, 0, 0, 0.5);
  color: lightgrey;
}
.subtitlesSearch.complete {
  display: none;
}
.subtitlesSearch:not(.loading) .contentIdle {
  display: inline;
}
.subtitlesSearch:not(.loading) .contentLoading {
  display: none;
}
.subtitlesSearch.loading .contentIdle {
  display: none;
}
.subtitlesSearch.loading .contentLoading {
  display: inline;
}
