/**
 * Arnold - advanced media center based on VLC and NW.js
 *
 * style.css - main CSS
 *
 * @author Alexandre Bintz <alexandre@bintz.io>
 * 10/2015
 */

::-webkit-scrollbar {
  display: none;  /*  hide scroll bars  */
}

/*  <html> holds the general background */
html {
  font-family: 'Helvetica Neue';
  background: rgb(38,38,38);
}

body {
  -webkit-app-region: drag; /*  make whole window draggable
                          (by default frameless windows cannot be dragged)  */
  padding: 0;
  margin: 0;
  /*  body covers the whole screen
      and is at the bottom of the display stack */
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

/*  input[file] is there only to provide a file dialog
    it is not visible  */
#dInputFile {
  display: none;
}

/*  player covers the whole screen and is at the bottom of the view stack
    canvas is centered in both direction inside player  */
#dPlayer {
  position: absolute;
  z-index: 100;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: -webkit-flex;
  -webkit-justify-content: center;
  -webkit-align-items: center;
  background: black;
}
/*  subtitles appear on top of the video,
    on the bottom */
#dPlayer .playerSubtitlesBox {
  position: absolute;
  left: 50px;
  right: 50px;
  bottom: 50px;
  color: white;
  font-size: 2em;
  text-shadow: 0 0 5px black;
  font-family: "Arial";
  text-align: center;
}

/*  home screen covers the entire screen
    and appears on top of the player  */
#dHome {
  position: absolute;
  z-index: 200;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  font-size: 1.3em;
  display: -webkit-flex;
  -webkit-flex-direction: column;
  color: darkgrey;
}
#dHomeDropZone {
  -webkit-flex-grow: 1;
  margin: 4%;
  display: -webkit-flex;
  -webkit-flex-direction: column;
  -webkit-justify-content: center;
  -webkit-align-items: center;
  border: 5px dashed darkgrey;
  border-radius: 5px;
  font-weight: bold;
}
#dHomeDropZone.hover {
  color: white;
  border-color: white;
}
#dHomeDropHint {
}
#dHomeDropHintAuxiliary1,
#dHomeDropHintAuxiliary3 {
  font-size: 0.7em;
}
#dHomeDropHintMain {
  font-size: 1.3em;
  margin-bottom: 0;
  padding-bottom: 0;
}
#dHomeDropHintAuxiliary2 {
  font-size: 0.9em;
  padding: 0;
  margin: 0;
  margin-bottom: 30px;
}

/*  audio & subtitles interfaces appear on the center of the screen
    and on top of the player  */
#dAudioWidget,
#dSubtitlesWidget {
  position: absolute;
  z-index: 500;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: -webkit-flex;
  -webkit-flex-direction: column;
  -webkit-justify-content: center;
  -webkit-align-items: center;
}
#dAudioWidget table,
#dSubtitlesWidget table {
  border-collapse: collapse;
  border-radius: 5px;
  background: rgb(80, 80, 80);
  box-shadow: 0 0 75px black;
  font-weight: bold;
  font-size: 1em;
  text-align: center;
  color: lightgrey;
}
#dAudioWidget th,
#dAudioWidget td,
#dSubtitlesWidget th,
#dSubtitlesWidget td {
  padding: 5px 25px;
}
#dAudioWidget td,
#dSubtitlesWidget td {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  border-top: 1px solid rgba(255, 255, 255, 0.2);
}
#dAudioWidget thead th,
#dSubtitlesWidget thead th {
  font-weight: normal;
  padding: 20px;
}
#dAudioWidget td,
#dSubtitlesWidget td {
  cursor: pointer;
}
#dAudioWidget tr.selected,
#dSubtitlesWidget tr.selected {
  background: rgba(255, 255, 255, 0.2);
  background: green;
}
#dAudioWidget tr.highlighted,
#dSubtitlesWidget tr.highlighted {
  background: rgba(255, 255, 255, 0.1);
  background: red;
}
.subtitlesSearch.complete {
  display: none;
}
.subtitlesSearch:not(.loading) .contentIdle {
  display: inline;
}
.subtitlesSearch:not(.loading) .contentLoading {
  display: none;
}
.subtitlesSearch.loading .contentIdle {
  display: none;
}
.subtitlesSearch.loading .contentLoading {
  display: inline;
}






/*  menu appears on top of the screen
    and on top of ui content  */
#uiMenu {
  position: absolute;
  z-index: 205;
  top: 0;
  left: 0;
  right: 0;
}
#uiMenu li {
  display: inline-block;
  padding: 15px;
  list-style-type: none;
  font-weight: bold;
  font-size: 1.1em;
  color: lightgrey;
  cursor: pointer;
}
#uiMenu li:hover,
#uiMenu li.active {
  color: white;
}



/*  generic style */
button {
  border: none;
  background: none;
  border-bottom: 2px solid lightgrey;
  color: lightgrey;
  font-family: 'Helvetica Neue';
  font-size: 1em;
  cursor: pointer;
}
button:hover {
  border-bottom: 2px solid white;
  color: white;
}
button:focus {
  outline: none;
}
input[type="text"] {
  background: none;
  border: none;
  border-bottom: 2px solid lightgrey;
  color: white;
  font-size: 1.1em;
}
input[type="text"]:focus,
input[type="text"]:hover {
  outline: none;
  border-bottom: 2px solid white;
}

/*  home section covers the entire screen  */
#home {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 50px;
  padding-top: 10%;
  text-align: center;
  font-size: 1.3em;
}
#home .mainHint {
  font-size: 2em;
  margin-bottom: 0;
}
#home .secondHint {
  font-size: 0.8em;
}
#home .thirdHint {
  font-size: 0.9em;
  margin-top: 30px;
}
#home input[type="text"] {
  width: 80%;
}
/*  drop indicator is hidden by default,
    it appears when dragging over the #home  */
#dropIndicator {
  visibility: hidden;
  position: absolute;
  top: 30%;
  width: 90%;
  font-size: 4em;
}
#dropIndicator p {
  margin: 0;
  margin-top: 10px;
}
#dropIndicator .dropHint {
  font-size: 0.3em;
}
#dropIndicator #dropHint1 {
  font-size: 0.2em;
}
/*  when dragging over the #home,
    content fades and drop indicator appears  */
#home.hover #dropIndicator {
  visibility: visible;
}
#home.hover #home_content {
  opacity: 0.05;
}
/*  input file used to show open file dialog
    is not visible to the user  */
#inputFile {
  display: none;
}

/*  "playing" section covers the entire screen  */
#playing {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 50px;
}
#playing section {
  display: block;
  margin: auto;
  width: 50%;
}
#playing h2 {
  text-align: center;
  margin: 50px;
}
#playing label {
  display: inline-block;
  width: 200px;
}
#openSubtitlesLoading {
  visibility: hidden;
}

/*  "popcorn" section covers the entire screen  */
#popcorn {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 50px;
  text-align: center;
  overflow: scroll;
}
#popcorn input[type="text"] {
  text-align: center;
  font-size: 1.2em;
}
#popcorn table {
  margin: auto;
}
#popcorn td {
  padding: 15px;
  text-align: left;
}
